{
  "blogTitle": "Bojan Veljanovski's notes and thoughts on software",
  "siteUrl": "http://bojanv91.github.io",
  "author": "Bojan Veljanovski",
  "email": "bojanv91@live.com",
  "posts": "_posts",
  "layouts": "_layouts",
  "theme": "default",
  "output": "../",
  "urlFormat": "yyyy/MM/slug",
  "directoryname": "",
  "copyDirectories": [
    "images",
    "javascripts",
    "stylesheets"
  ],
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml => category"
  },{
    "file": "archive.cshtml"
  },{
    "file": "about.cshtml"
  },{
    "file": "rss.xml",
    "loop": "RSS"
  },{
    "file": "feed.xml",
    "loop": "atom"
  }]
}