@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>About me</h1>
  </div>
  </header>

  <div class="fancy-container lightblue">

	<p>Code always wins.</p>
	
    <p>I try to write something more about me in the future... </p>

  </div>
